.weather-widget__wrapper {
    gap: 20px;
}

.__flex-column {
    display: flex;
    flex-direction: column;
}

.temperature {
}

.temperature::before {
    content: '🌡';
    font-size: 1em;
    margin-right: 4px;
}

.humidity {
}

.humidity::before {
    content: "💧 ";
    font-size: 1em;
    margin-right: 4px;
}


.pressure {
}

.pressure::before {
    content: "🌀 ";
    font-size: 1em;
    margin-right: 4px;
}

.weather-widget__current_weather {
    gap: 5px;
}

.current_weather {
}

.weather-title {
    font-weight: 600;
}

.weather-widget__tomorrow_weather {
    gap: 5px;
}

.tomorrow_weather {
}

.last10days_table td {
    text-align: center;
}

.table {
    width: fit-content;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.table th, .table td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.table tr:last-child td {
    border-bottom: none;
}

.table tr:hover {
    background-color: #f9f9f9;
}